body {
    margin: none;
}

.creneau {
    border: 1px solid black;
    margin: none;
}

.contentDaily {
    border: 1px solid black;

}

.afficher-month,
.afficher-annee {
    display: flex;
    justify-content: center;
    text-align: center;
}