<div>
    <p class="month">{{moisActuel}}</p>
    <p>{{nombreJoursMois}}</p>
    <div class="affichageSemaine">
        <div *ngFor="let jour of grilleSemaine" class="dayWeek">
            <p>{{ jour }} </p>
        </div>
    </div>
    <div>
        <div class="dayWeeks2">
            <div *ngFor="let jour of tableauNombreJoursMoisEncours">
                <div *ngIf="+jour%7" class="TEst"><br>
                    <p class="dayMonth">{{jour}}</p>
                </div>
            </div>
        </div>
    </div>
</div>